* {
  margin: 0;
  padding: 0;
}

.top-header {
  background-color: #efefef;
}

.top-header p {
  color: #d6d6d6;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 15px;
}

.top-header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}

.top-header ul li {
  color: #d6d6d6;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.nav-content ul li {
  text-transform: uppercase;
  color: #d6d6d6;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff9b1a;
}

.btn-join {
  background: #ff9b1a;
  border-radius: 50px;
  color: #fff !important;
  padding: 9px 16px;
  font-size: 13px;
}

.btn-join:hover {
  background: #eb8f18;
  color: #fff !important;
  transition: 0.5s all ease-in-out;
}

.banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hg {
  min-height: 80vh;
}

.banner ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 45px;
}

.banner ul li {
  color: #fff;
}

.banner ul li h5 {
  color: #fff;
  font-size: 16px;
}

.banner ul li h6 {
  color: #fff;
  font-size: 13px;
}

.banner a {
  text-decoration: none;
  margin-right: 20px;
}

.btn-banner {
  border-radius: 50px;
  color: #fff;
  padding: 9px 16px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
}

.btn-banner:hover {
  background: #ff9b1a;
  color: #fff;
  border: 1px solid #eb8f18;
  transition: 0.5s all ease-in-out;
}

.requirements {
}

.requirements-items {
  border: 1px solid #e1e1e1;
  padding: 30px 5px;
  position: relative;
}

.requirements-items i {
  color: #ff9b1a;
  font-size: 50px;
  margin-bottom: 15px;
}

.requirements-items h3 {
  color: #aaaaaa;
  font-size: 17px;
  text-transform: capitalize;
}

.requirements-items p,
.services-heading p,
.services-items p,
.blog-content p {
  color: #aaaaaa;
  font-size: 13px;
}

.requirements-items:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cda107+0,e06402+100&0.9+1,0.9+100 */
  background: -moz-linear-gradient(
    top,
    rgba(205, 161, 7, 0.9) 0%,
    rgba(205, 160, 7, 0.9) 1%,
    rgba(224, 100, 2, 0.9) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(205, 161, 7, 0.9) 0%,
    rgba(205, 160, 7, 0.9) 1%,
    rgba(224, 100, 2, 0.9) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(205, 161, 7, 0.9) 0%,
    rgba(205, 160, 7, 0.9) 1%,
    rgba(224, 100, 2, 0.9) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6cda107', endColorstr='#e6e06402',GradientType=0 ); /* IE6-9 */
}

.requirements-items:hover {
  background-image: url(../images/bitcoin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.requirements-items:hover i {
  color: #fff;
}

.requirements-items:hover h3 {
  color: #fff;
}

.requirements-items:hover p {
  color: #fff;
}

.services {
}

.services-heading {
  position: relative;
}

.services-heading::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: -20px;
  background: #ff9b1a;
  transform: translateX(-50%);
  transition: 0.5s all ease-in-out;
}

.services:hover .services-heading::before {
  width: 50px;
}

.services-heading h3 {
  text-transform: uppercase;
  color: #2b2b2b;
  font-size: 22px;
  font-weight: 700;
}

.services-items h3 {
  color: #2b2b2b;
  font-size: 17px;
  text-transform: capitalize;
}

.services-items i {
  color: #ff9b1a;
  font-size: 50px;
  margin-bottom: 15px;
}

.services a {
  text-decoration: none;
}

.btn-view {
  border-radius: 50px;
  color: #2b2b2b;
  padding: 9px 16px;
  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid #aaaaaa;
  background: transparent;
}

.btn-view:hover {
  background: #ff9b1a;
  color: #2b2b2b;
  border: 1px solid #eb8f18;
  transition: 0.5s all ease-in-out;
}

.simple-steps {
  background-image: url(../images/bitcoin-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.steps-image {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.steps-heading::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 15px;
  top: 50px;
  background: #ff9b1a;
  transition: 0.5s all ease-in-out;
}

.simple-steps:hover .steps-heading::before {
  width: 50px;
}

.steps-heading h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.steps-content ul {
  list-style: none;
}

.steps-content ul li {
  margin-bottom: 48px;
}

.steps-content ul li span {
  display: block;
  height: 50px;
  width: 50px;
  background: transparent;
  border: 2px solid #ff9b1a;
  border-radius: 5px;
  transform: rotate(45deg);
  float: left;
  margin-right: 45px;
}

.steps-content ul li h4 {
  color: #fff;
  font-size: 15px;
}

.steps-content ul li p {
  color: #fff;
  font-size: 13px;
}

.rating {
  background: #ff9b1a;
}

.rating-content h3 {
  color: #fff;
  font-size: 25px;
}

.rating-content p {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.team {
}

.team:hover .services-heading::before {
  width: 50px;
}

.team-image {
}

.team-content h5 {
  font-size: 14px;
  color: #1e1e1e;
  margin-top: 10px;
  font-weight: 400;
}

.team-content p {
  text-transform: uppercase;
  font-size: 13px;
  color: #ff9b1a;
}

.consultatioon-form {
  background-image: url(../images/form-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-heading h3 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.form-heading::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: -20px;
  background: #ff9b1a;
  transform: translateX(-50%);
  transition: 0.5s all ease-in-out;
}

.consultatioon-form:hover .form-heading::before {
  width: 50px;
}

.custom-form {
  background-color: transparent;
}

.custom-form input {
  border-color: #fff;
}

.custom-form:focus {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
}

.custom-form::placeholder {
  color: #fff;
}

.send a {
  text-decoration: none;
}

.btn-send {
  border-radius: 50px;
  color: #fff;
  padding: 9px 40px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
}

.btn-send:hover {
  background: #ff9b1a;
  color: #fff;
  border: 1px solid #eb8f18;
  transition: 0.5s all ease-in-out;
}

.circle-content {
  position: relative;
  padding: 30px 0;
}

.lock-icon-1 {
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.lock-icon-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #f05154;
  border-radius: 5px;
  transform: rotate(45deg);
}

.lock-icon-2 {
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.lock-icon-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #63cd68;
  border-radius: 5px;
  transform: rotate(45deg);
}

.lock-icon-3 {
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.lock-icon-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #bbe8eb;
  border-radius: 5px;
  transform: rotate(45deg);
}

.lock-icon-4 {
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.lock-icon-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #43c5ca;
  border-radius: 5px;
  transform: rotate(45deg);
}

.lock-icon-5 {
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.lock-icon-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #63cd68;
  border-radius: 5px;
  transform: rotate(45deg);
}

.lock-icon-6 {
  height: 40px;
  width: 40px;
  line-height: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.lock-icon-6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #f05154;
  border-radius: 5px;
  transform: rotate(45deg);
}

.left-top .lock-icon-1 i {
  color: #f05154;
}

.left .lock-icon-2 i {
  color: #63cd68;
}

.left-bottom .lock-icon-3 i {
  color: #bbe8eb;
}

.right-top .lock-icon-4 i {
  color: #43c5ca;
}

.right .lock-icon-5 i {
  color: #63cd68;
}

.right-bottom .lock-icon-6 i {
  color: #f05154;
}

.lock p {
  color: #252525;
  font-size: 14px;
  text-transform: capitalize;
}

.left-top {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-30%);
}

.left {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-20%, -45%);
}

.left-bottom {
  position: absolute;
  bottom: -30%;
  left: 30%;
  transform: translate(-30%, -20%);
}

.right-top {
  position: absolute;
  top: 0;
  right: 24%;
  transform: translateX(-24%);
}

.right {
  position: absolute;
  position: absolute;
  top: 55%;
  right: 15%;
  transform: translate(-15%, -50%);
}

.right-bottom {
  position: absolute;
  bottom: -30%;
  right: 24%;
  transform: translate(-24%, -30%);
}

.blog:hover .services-heading::before {
  width: 50px;
}

.custom-card ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.custom-card ul li {
  color: #6e6e6e;
  font-size: 13px;
}

.custom-card h5 {
  font-size: 13px;
}

.custom-card p,
.contact-division-1 p {
  color: #6e6e6e;
  font-size: 13px;
}

.card {
  width: 100% !important;
}

.edit-icon {
  height: 40px;
  width: 40px;
  background: #f26c4f;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 60%;
  left: 10px;
  cursor: pointer;
}

.edit-icon i {
  color: #fff;
}

.investor-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: auto;
  position: relative;
}

.investor-icon {
  height: 40px;
  width: 40px;
  background: #fb8f2c;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 71%;
  right: 27px;
  cursor: pointer;
}

.investor-icon i {
  color: #fff;
}

hr {
  background-color: #fb8f2c;
  margin: 0;
  height: 3px;
}

.contact {
  background: #101010;
  position: relative;
}

.contact-division-1 img {
  margin-bottom: 20px;
}

.parent-contact-icon {
  display: flex;
  justify-content: space-evenly;
}

.contact-icon {
  height: 40px;
  width: 40px;
  background: transparent;
  border: 1px solid #3d3c3a;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.contact-icon i {
  color: #3d3c3a;
}

.contact-icon:hover {
  border-color: #00aced;
  transition: 0.5s all ease-in-out;
}

.contact-icon i:hover {
  color: #00aced;
  transition: 0.5s all ease-in-out;
}

.address-heading h4 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.address-heading::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  left: 15px;
  top: 35px;
  background: #ff9b1a;
  transition: 0.5s all ease-in-out;
}

.contact:hover .address-heading::before {
  width: 40px;
}

.address-content {
  margin-top: 41px;
}

.address-content ul {
  list-style: none;
}

.address-content ul li {
}

.address-content ul li i {
  color: #676767;
  font-size: 14px;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.address-content ul li p {
  color: #676767;
  font-size: 14px;
  margin-left: 20px;
}

.address-content ul li p:hover {
  color: #292929;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.links-content {
  margin-top: 41px;
}

.links-content p {
  color: #676767;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.links-content p:hover {
  color: #292929;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.newsletter-content {
  margin-top: 41px;
}

.newsletter-content p {
  color: #676767;
  font-size: 14px;
  margin-bottom: 5px;
}

.newsletter-form {
  margin-top: 20px;
  position: relative;
}

.form-control {
  border-radius: 50px !important;
}

.newsletter-icon {
  height: 37px;
  width: 37px;
  background: #fb8f2c;
  border: 1px solid #fb8f2c;
  border-radius: 50px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.newsletter-icon i {
  color: #fff;
}

footer {
  background: #000000;
}

.footer-left p {
  color: #504e4e;
  font-size: 13px;
  margin: 0;
  text-transform: capitalize;
}

.footer-right ul {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.footer-right ul li {
  text-transform: uppercase;
  color: #5e5d5d;
  font-size: 15px;
}

.footer-right ul li:hover {
  color: #292929;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
